log-lp.txt
log-lsp.txt
*.dko
*~
*.swp
_build
libraries/*.tar.gz
libraries/*.tar
libraries/*.zip
libraries/dklib
libraries/focalide
libraries/holide
libraries/iprover
libraries/matita
libraries/verine
libraries/zenon_modulo
.merlin
*.install
*.gv
*.png
.DS_Store
*.map
*.log
libraries/
doc/
assets/
editors/
.github/
misc/
src/
tests/
tutorial/
AUTHORS.md
dune
dune-project
CHANGES.md
.ocamlformat
.readthedocs.yaml
.dir-locals.el
CONTRIBUTING.md
lambdapi.opam
LICENSE.txt
Makefile
README.md
RELEASE.md
list.lp
test.lp
test2.lp
vec_test.lp
vecV4.lp
TODO.md